<!DOCTYPE html>
<html>

<head>
    <title>Driver registration</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">



</head>

<body style="color:white ; font-family: Arial, Helvetica, sans-serif; background-color: black;">
    <center>
        <h1 style="font-family: showcard gothic;"><a href="home" style="text-decoration: none; color:white">
                taxi wala
            </a></h1>
        <h3 style="font-family: showcard gothic;">New driver registration
            <style>
                table,
                th,
                td {
                    border: 0px;
                    padding: 5px;
                    border-collapse: collapse;
                    border-radius: 5px;
                    background-color: rgb(28, 32, 32);
                }

                input::placeholder {
                    font-family: Arial, Helvetica, sans-serif;
                }
            </style>
        </h3>
        <p>
        <table>
            <form name="loginform" id="loginform" method="post">
                <tr>
                    <td>
                        <label for="fname">First Name:</label>
                    </td>
                    <td>
                        <input type="text" id="fname" name="fname" placeholder="your first name"
                            style="width: 20vw; padding: 5px;" required></br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lname">Last Name:</label>
                    </td>
                    <td>
                        <input type="text" id="lname" name="lname" placeholder="your last name"
                            style="width: 20vw; padding: 5px;" required></br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="gender">Gender:</label>
                    </td>
                    <td>
                        <input type="radio" id="male" name="gender" value="M" required>Male
                        <input type="radio" id="female" name="gender" value="F">Female
                        <input type="radio" id="others" name="gender" value="O">Others
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                    </td>
                    <td>
                        <input type="email" id="email" name="email" placeholder="Ex: name@gmail.com"
                            style="width: 20vw; padding: 5px;" required></br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="number">Number:</label>
                    </td>
                    <td>
                        <input type="button" name="i" id="i" value="+91" style="width:3vw; padding: 5px;">
                        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="your phone number"
                            style="width: 17vw; padding: 5px;" required maxlength="10">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="street">Door No., street:</label>&nbsp;
                    </td>
                    <td>
                        <input type="text" id="street" name="street" placeholder="your door number & street"
                            style="width: 20vw; padding: 5px;" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="city">City:</label>&nbsp;
                    </td>
                    <td>
                        <input type="text" id="city" name="city" placeholder="your city or nearest city"
                            style="width: 20vw; padding: 5px;" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="zipcode">Zipcode:</label>
                    </td>
                    <td>
                        <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode"
                            style="width: 20vw; padding: 5px;" required maxlength="6">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="dob">Date of birth:</label>
                    </td>
                    <td>
                        <input type="date" id="dob" name="dob" required
                            style="font-family: arial;width: 20vw; padding: 5px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="licence">Licence No.:</label>
                    </td>
                    <td>
                        <input type="text" id="licence" name="licence" required
                            style="font-family: arial;width: 20vw; padding: 5px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Next" onclick="" id="submit">
                    </td>
                    <td>
                        <input type="reset" value="Reset">
                    </td>
                </tr>

        </table>
        </p>

        <p><input type="checkbox" id="terms" name="terms" value="1" required> I agree to the <a href="tandc.html"
                style="color:white" target="_blank">Terms and conditions </a></p>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
            </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
            </script>
</body>

</html>