<!DOCTYPE html>
<html>

<head>
    <title>Verify User</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">



</head>

<body style="color:white ; font-family: Arial, Helvetica, sans-serif; background-color: black;">
    <center>
        <h1 style="font-family: showcard gothic; margin-top: 15vh"><a href="*"
                style="text-decoration: none; color:white">Taxi
                wala</a></h1>
        <h3 style="font-family: showcard gothic;">User verification
            <style>
                table,
                th,
                td {
                    border: 0px;
                    padding: 5px;
                    border-collapse: collapse;
                    border-radius: 5px;
                    background-color: rgb(28, 32, 32);
                    margin-top: 10vh;
                }

                input::placeholder {
                    font-family: Arial, Helvetica, sans-serif;
                }
            </style>
        </h3>
        <p>
        <table>
            <form method="POST">
                <tr>
                    <td>
                        <input type="password" placeholder="Enter your password" name="password" required minlength="8" maxlength="25" id="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><input type="password" name="rpassword" placeholder="Re-enter the password" id="rpassword" required>
                        </center>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <center><input type="checkbox" onclick="showPassword()">Show Password</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center><input type="submit" name="verify" id="verify" ></center>
                    </td>
                </tr>
            
            </form>
        </table>
        </p>

        <script>

           var password = document.getElementById("password")
           var rpassword = document.getElementById("rpassword")

           function validatePassword(){
            if(password.value != rpassword.value){
                rpassword.setCustomValidity("Not matching");
            }
            else{
                rpassword.setCustomValidity('');
            }
           }

           password.onchange = validatePassword;
           rpassword.onkeyup = validatePassword;
        </script>
        <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
            <script>
            function showPassword() {
                var x = document.getElementById("password");
                if (x.type == "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
                var y = document.getElementById("rpassword");
                if (y.type == "password") {
                    y.type = "text";
                } else {
                    y.type = "password";
                }
            }</script>
</body>

</html>